:host {
  display: block;
}

.ant-message{
  &-notice{
    padding: 8px;
    text-align: center;
    background-color: transparent;

    &-content{
      display: inline-block;
      padding: 9px 12px;
      background: #fff;
      background-color: rgb(255, 255, 255);
      border-radius: 8px;
      box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%), 0 9px 28px 8px rgb(0 0 0 / 5%);
      pointer-events: all;
      font-size: 14px;
    }
  }

  &-success eui-icon{
    color: $success-color;
  }

  &-error eui-icon {
    color: $error-color;
  }

  &-warning eui-icon {
    color: $warning-color;
  }

  &-info eui-icon,
  &-loading eui-icon {
    color: $info-color;
  }
}




